* @REPLACE_WITH_GITHUB_OWNER
/.github/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
/tests/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PHR_BACKEND_OWNER
*.py @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PHR_BACKEND_OWNER
/requirements.txt @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PHR_BACKEND_OWNER
/cloudbuild.yaml @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
