fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
python-jose[cryptography]
weasyprint
pydantic
psycopg2-binary
jinja2
httpx
python-dotenv
python-multipart
pdfplumber
pypdf
Pillow
pytesseract
google-cloud-storage
google-auth
